@font-face {
  font-family: 'chunkfiveroman';
  src: url('../../fonts/chunkfive-webfont.eot');
  src: url('../../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/chunkfive-webfont.woff') format('woff'), url('../../fonts/chunkfive-webfont.ttf') format('truetype'), url('../../fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'din_30640_stdneuzeitgroteskLt';
  src: url('../../fonts/dinneuzeitgroteskstd-light-webfont.eot');
  src: url('../../fonts/dinneuzeitgroteskstd-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/dinneuzeitgroteskstd-light-webfont.woff') format('woff'), url('../../fonts/dinneuzeitgroteskstd-light-webfont.ttf') format('truetype'), url('../../fonts/dinneuzeitgroteskstd-light-webfont.svg#din_30640_stdneuzeitgroteskLt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'league_gothicregular';
  src: url('../../fonts/league_gothic-webfont.eot');
  src: url('../../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/league_gothic-webfont.woff') format('woff'), url('../../fonts/league_gothic-webfont.ttf') format('truetype'), url('../../fonts/league_gothic-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  margin: 0;
  padding: 0;
  color: #b60050;
  text-decoration: none;
}
a:hover {
  /* background-color: @pink;*/
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
p {
  font-family: 'din_30640_stdneuzeitgroteskLt', 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-align: left;
  line-height: 1.2em;
}
h1,
h2,
h3 {
  font-family: 'chunkfiveroman', 'Arvo', Georgia, Times, serif;
  line-height: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 0.9em;
  color: #505353;
}
h4 {
  font-family: 'din_30640_stdneuzeitgroteskLt', 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: .750em;
  text-transform: uppercase;
  font-weight: bold;
}
/*h5{
  font-family: @bodyfont;
  font-size: .4em;
  text-transform: uppercase;
  font-weight:bold;
}*/
li {
  display: inline-block;
}
/*GLOBAL STYLES -----------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #ffffff;
  font-family: 'din_30640_stdneuzeitgroteskLt', 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #b3b3b3;
  -webkit-font-smoothing: antialiased;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.innerContainer {
  margin: 0 auto;
  max-width: 65%;
}
.largeInnerContainer {
  margin: 0 auto;
  max-width: 88%;
}
.parallelogram {
  height: auto;
  -webkit-transform: skew(5deg);
  -moz-transform: skew(5deg);
  -o-transform: skew(5deg);
  background: rgba(0, 141, 179, 0.73);
}
.parallelogram p {
  -webkit-transform: skew(-5deg);
  color: #fff;
  text-transform: none;
  padding: 5px 19px 5px 27px;
}
/*--- Section Title headings ----*/
.titles {
  width: 100%;
}
.titles h1 {
  float: left;
  display: inline-block;
  width: 33%;
  margin: 0 1.815%;
  margin: 0;
  padding: 29px 0 24px;
  min-height: 89px;
}
.titles p {
  float: left;
  display: inline-block;
  width: 67%;
  margin: 0 3.685%;
  padding: 10px 10% 10px 20px;
  text-transform: none;
  margin: 0;
  font-size: 0.8em;
  min-height: 89px;
}
.containText {
  width: 82%;
  margin: 0 auto;
  overflow: hidden;
}
/*HEADER -----------------------------------------------*/
header#header {
  background: #505353;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
header#header nav#topNav img {
  padding: 10px;
  background-color: #ffffff;
  margin: 10px 10px 5px 18px;
  float: left;
}
header#header nav#topNav ul.social {
  padding: 0;
  display: inline;
  float: right;
  margin: 12px 2% 0;
}
header#header nav#topNav ul.social li {
  display: inline;
  width: 40px;
  height: 40px;
}
header#header nav#topNav ul.social li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  text-indent: -9999px;
}
header#header nav#topNav ul.social li a.facebook {
  background: url(../../images/wwccSocialSprites.png) 0 0px no-repeat;
}
header#header nav#topNav ul.social li a.facebook:hover {
  background: url(../../images/wwccSocialSprites.png) 0 -40px no-repeat;
}
header#header nav#topNav ul.social li a.youtube {
  background: url(../../images/wwccSocialSprites.png) -40px 0px no-repeat;
}
header#header nav#topNav ul.social li a.youtube:hover {
  background: url(../../images/wwccSocialSprites.png) -40px -40px no-repeat;
}
header#header nav#topNav ul.social li a.linkedin {
  background: url(../../images/wwccSocialSprites.png) -80px 0px no-repeat;
}
header#header nav#topNav ul.social li a.linkedin:hover {
  background: url(../../images/wwccSocialSprites.png) -80px -40px no-repeat;
}
header#header nav#topNav ul.social li a.twitter {
  background: url(../../images/wwccSocialSprites.png) -120px 0px no-repeat;
}
header#header nav#topNav ul.social li a.twitter:hover {
  background: url(../../images/wwccSocialSprites.png) -120px -40px no-repeat;
}
header#header nav#mainNav {
  background: #7c807f;
  height: 50px;
  clear: both;
}
header#header nav#mainNav ul.navigation {
  margin-left: 18px;
  float: left;
}
header#header nav#mainNav li {
  padding: 17px 31px 18px 0;
}
header#header nav#mainNav li a {
  color: #ffffff;
  padding: 12px 7px;
}
header#header nav#mainNav li a:hover {
  background-color: #b60050;
}
header#header nav#mainNav #btn {
  float: right;
  margin: 17px 3% 0 0;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}
header#header nav#mainNav #btn a {
  color: #ffffff;
}
header#header nav#mainNav #btn a:hover.volunteer {
  background-color: #9a0546;
}
header#header nav#mainNav #btn a:hover.donate {
  background-color: #047796;
}
header#header nav#mainNav #btn .volunteer {
  background-color: #b60050;
  padding: 10px 8px;
  border-radius: 8px;
  margin-right: 10px;
}
header#header nav#mainNav #btn .donate {
  background-color: #008db3;
  padding: 10px 20px;
  border-radius: 8px;
}
/*<-----header --*/
.divider {
  height: 5px;
  background-color: #b60050;
}
.divider2 {
  height: 15px;
  background-color: #b60050;
}
/*-------HERO-------*/
section#hero {
  background: url(../../images/hero.jpg);
  background-position: center bottom;
  width: 74%;
  margin: 0 auto;
  padding: 173px 0 0 33px;
  min-height: 350px;
}
.parallelogram {
  width: 407px;
}
.parallelogram p {
  font-size: 0.8em;
}
/*-------ICON NAV SECTION----------------------*/
section#iconNav {
  min-height: 295px;
  background: #ffffff;
}
section#iconNav ul.icon-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
section#iconNav ul.icon-grid li {
  width: 168px;
  height: 168px;
  display: inline-block;
  margin: 15px 100px;
}
section#iconNav ul.icon-grid li .icon-img-1 {
  background-image: url(../../images/what-icon.png);
}
section#iconNav ul.icon-grid li .icon-img-2 {
  background-image: url(../../images/why-icon.png);
}
section#iconNav ul.icon-grid li .icon-img-3 {
  background-image: url(../../images/how-icon.png);
}
section#iconNav ul.icon-grid li .icon-item:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
section#iconNav ul.icon-grid li h3 {
  margin-top: 25px;
}
section#iconNav ul.icon-grid li h3 a {
  color: #505353;
}
section#iconNav ul.icon-grid li h3 a:hover {
  color: #b60050;
}
.icon-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon-info {
  position: absolute;
  background: #b70050;
  background-image: url(../../images/qmark.png);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}
.icon-info p {
  color: #fff;
  padding-top: 70px;
  text-align: center;
  margin: 0 0;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 0.4s;
  -moz-transition: all 1s ease-in-out 0.4s;
  -o-transition: all 1s ease-in-out 0.4s;
  -ms-transition: all 1s ease-in-out 0.4s;
  transition: all 1s ease-in-out 0.4s;
}
.icon-info p a {
  display: block;
  color: #fff;
  font-size: 2.2em;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', Arial, sans-serif;
}
.icon-info p a:hover {
  color: #505353;
}
.icon-item:hover .icon-info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.icon-item:hover .icon-info p {
  opacity: 1;
}
/*-------WHAT SECTION-------*/
section#what {
  width: 100%;
  min-height: 755px;
  background: url(../../images/pattern.png);
  margin: 0;
  padding: 0;
}
section#what h1 {
  background: #505353;
  color: #fff;
}
section#what p.main {
  background: #b60050;
  color: #ffffff;
}
.languages {
  margin-top: 25px;
  float: left;
}
.languages .boxWhat {
  width: 206px;
}
.languages p {
  padding: 5px 19px 5px 27px;
  font-size: 1.1em;
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
}
.languages img {
  margin: -10px 0 0 75px;
}
.locations {
  margin-top: 25px;
  float: right;
}
.locations .boxWhatTwo {
  width: 231px;
}
.locations p {
  padding: 5px 19px 5px 27px;
  font-size: 1.1em;
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
}
.locations img {
  margin-bottom: -10px;
}
.peoplegraph {
  clear: both;
  text-align: center;
  padding-top: 25px;
}
/*-------WHY SECTION-------*/
section#why {
  width: 100%;
  min-height: 1278px;
  background-color: #40403f;
  margin: 0;
  padding: 0;
}
section#why p {
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
}
section#why h1 {
  background: #b60050;
  color: #fff;
}
section#why p.main {
  background: #ffffff;
  color: #40403f;
  font-family: 'din_30640_stdneuzeitgroteskLt', 'PT Sans', Helvetica, Arial, sans-serif;
}
section#why .world {
  background: url(../../images/worldmap.png) no-repeat;
  background-position: 50% 186px;
  background-size: 100%;
  min-height: 800px;
}
section#why .world .boxWhy {
  width: 450px;
  float: left;
  margin: 25px 0 0 20%;
}
section#why .world .boxWhy .percent {
  font-family: "Georgia Italic", Georgia, serif;
  font-size: 3.3em;
  float: left;
  display: inline-block;
  width: 30%;
  margin: 0 1.65%;
  color: #40403f;
}
section#why .world .boxWhy p {
  float: right;
  font-size: 1.1em;
  float: left;
  display: inline-block;
  width: 60%;
  margin: 0 3.3%;
  padding: 12px 0 12px 10px;
}
section#why .world .toronto {
  float: right;
  margin: 3% 13% 0 0;
}
section#why .world .toronto img {
  z-index: 1000;
  display: block;
  height: auto;
}
section#why .world .toronto .boxWhyTwo {
  width: 270px;
  margin: -310px 0 0 -145px;
}
section#why .world .toronto .boxWhyTwo p {
  font-size: 1.1em;
}
section#why .world .womenPink {
  width: 380px;
  float: left;
  margin: 27% 0 0 10%;
}
section#why .world .womenPink img {
  float: left;
  margin-right: 10px;
}
section#why .world .womenPink p {
  font-size: 1.2em;
  color: #ffffff;
}
section#why .world .boxWhyThree {
  clear: both;
  margin: 0 auto;
  width: 600px;
  height: auto;
}
section#why .world .boxWhyThree p {
  font-size: 1.4em;
}
section#why .skyline {
  position: relative;
  background: #40403f;
  background: -moz-linear-gradient(top, #40403f 0%, #40403f 45%, #8c8b8b 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #40403f), color-stop(45%, #40403f), color-stop(100%, #8c8b8b));
  background: -webkit-linear-gradient(top, #40403f 0%, #40403f 45%, #8c8b8b 100%);
  background: -o-linear-gradient(top, #40403f 0%, #40403f 45%, #8c8b8b 100%);
  background: -ms-linear-gradient(top, #40403f 0%, #40403f 45%, #8c8b8b 100%);
  background: linear-gradient(to bottom, #40403f 0%, #40403f 45%, #8c8b8b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40403f', endColorstr='#8c8b8b', GradientType=0);
  min-height: 400px;
}
section#why .skyline .city {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin-bottom: -2px;
}
section#why .skyline .barriers {
  margin-top: 55px;
  background: #ffffff;
}
section#why .skyline .barriers .pinkline {
  height: 30px;
  background: #b60050;
}
section#why .skyline .barriers .blackline {
  height: 30px;
  background: #343433;
}
section#why .skyline .barriers ul {
  display: inline-block;
  text-align: center;
}
section#why .skyline .barriers ul li {
  clear: both;
  width: 19%;
  vertical-align: top;
  margin-top: -80px;
  padding: 10px 5px 20px;
}
section#why .skyline .barriers ul li p {
  text-align: center;
  color: #343433;
}
section#why .settle {
  background-color: #343433;
}
section#why .settle p {
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
}
section#why .settle .more {
  font-size: 2.2em;
  padding-bottom: 15px;
}
/*PieGraphs-----------------------*/
section#graphs {
  min-height: 340px;
  background: url(../../images/pattern.png);
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
  padding-top: 47px;
}
section#graphs .circleGraphLeft {
  float: left;
  text-transform: uppercase;
  max-width: 400px;
  min-height: 240px;
}
section#graphs .circleGraphLeft ul {
  float: left;
}
section#graphs .circleGraphLeft ul li {
  display: block;
  padding-top: 45px;
  font-size: 1.2em;
}
section#graphs .circleGraphLeft ul li.TO {
  color: #008db3;
}
section#graphs .circleGraphLeft ul li.ML {
  color: #b3b3b3;
}
section#graphs .circleGraphLeft ul li.VN {
  color: #b60050;
}
section#graphs .circleGraphLeft .circleGraph {
  float: right;
}
section#graphs .circleGraphRight {
  float: right;
  min-height: 240px;
  max-width: 800px;
}
section#graphs .circleGraphRight .pieChart {
  float: left;
}
section#graphs .circleGraphRight .stackedText {
  margin-left: 10px;
  font-size: 1.35em;
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
  float: right;
  width: 115px;
  line-height: 30px;
  color: #505353;
}
section#graphs .circleGraphRight .stackedText .uppercase {
  text-transform: uppercase;
}
section#graphs .circleGraphRight .stackedText .number {
  font-size: 2.9em;
  line-height: 80px;
}
section#graphs .circleGraphRight .stackedText .canadas {
  padding-left: 7px;
}
section#graphs .circleGraphRight .stackedText .pop {
  font-size: 1.05em;
}
section#graphs .circleGraphRight .stackedText .by {
  font-size: 40px;
  vertical-align: top;
  padding-right: 5px;
}
section#graphs .circleGraphRight .stackedText .year {
  font-size: 67px;
  line-height: 50px;
}
/*------------ HOW SECTION -------------*/
section#how {
  width: 100%;
  min-height: 920px;
  background: url(../../images/pattern.png);
  margin: 0;
  padding: 0;
}
section#how h1 {
  background: #7c807f;
  color: #ffffff;
}
section#how p.main {
  color: #ffffff;
  background-color: #505353;
}
section#how .greyline {
  width: 100%;
  clear: both;
  background: rgba(89, 91, 91, 0.09);
  height: 15px;
  margin: 15px 0;
  float: left;
}
section#how .howtop {
  margin-top: 90px;
}
section#how .howbottom {
  margin-bottom: 75px;
}
section#how .heart {
  width: 100%;
  background: rgba(89, 91, 91, 0.05);
  max-height: 190px;
  float: left;
}
section#how .heart .heartText {
  float: left;
  display: inline-block;
  width: 30%;
  margin: 0 1.65%;
}
section#how .heart .heartText p {
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
  color: #505353;
  font-size: 1.2em;
  margin: 10px;
}
section#how .heart img {
  float: left;
  display: inline-block;
  width: 30%;
  margin: 0 1.65%;
  margin-top: -5%;
  max-width: 350px;
  height: auto;
}
section#how .helped .support {
  text-align: center;
  font-size: 1.2em;
  color: #505353;
  padding-top: 50px;
  text-transform: uppercase;
}
section#how .helped ul {
  text-align: center;
  color: #505353;
  font-size: 0.9em;
  margin-top: 35px;
}
section#how .helped ul li {
  float: left;
  display: inline-block;
  width: 30%;
  margin: 0 1.65%;
}
section#how .helped ul li img {
  height: 130px;
  width: auto;
}
section#how .helped ul li .facts {
  margin-bottom: 15px;
  height: 90px;
}
section#how .helped ul li p {
  text-align: center;
}
section#how .helped ul li p .btn {
  background: #505353;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 7px 9px;
  width: 140px;
  font-size: 0.8em;
  color: #ffffff;
}
section#how .helped ul li p .btn:hover {
  background: #b60050;
  color: #343433;
}
/*------------ 35 YEARS SECTION -------------*/
section#years {
  overflow: hidden;
  min-height: 315px;
  background-color: #ffffff;
  background-image: url(../../images/35.png);
  background-position: center;
  background-repeat: no-repeat;
}
section#years h3 {
  text-align: center;
  font-size: 1.5em;
  margin: 70px 0 30px;
  color: #7c807f;
}
section#years .yearsHeader {
  color: #343433;
}
section#years p {
  color: #505353;
  font-size: 0.8em;
  max-width: 55%;
  margin: 0 auto;
}
/*------------ CTA'S -------------*/
section#cta {
  padding: 50px 0;
  background: url(../../images/pattern.png);
}
section#cta .involved {
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  text-transform: uppercase;
  font-size: 0.8em;
}
section#cta .involved img {
  float: left;
}
section#cta .involved .ctaLeft {
  float: left;
  margin-right: 7%;
}
section#cta .involved .ctaRight {
  float: left;
}
section#cta .involved a {
  color: #ffffff;
}
section#cta .involved a:hover.volunteer:hover {
  background-color: #9a0546;
}
section#cta .involved .volunteer {
  float: left;
  background-color: #b60050;
  padding: 10px 8px;
  border-radius: 8px;
  margin: 30px 0 0 10px;
}
section#cta .involved .donate {
  float: left;
  background-color: #008db3;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 30px 0 0 10px;
}
section#cta .involved .donate:hover {
  background-color: #047796;
}
/*PROGRAMS PAGE ---------------------------------------------------*/
/*programs.less*/
body#programsPage {
  background: url(../../images/pattern.png);
}
.tabs {
  position: relative;
  margin: 40px auto;
  width: 1020px;
}
.tabs input {
  position: absolute;
  z-index: 1000;
  width: 266px;
  height: 40px;
  left: 0px;
  top: 0px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
}
.tabs input#tab-2 {
  top: 40px;
}
.tabs input#tab-3 {
  top: 80px;
}
.tabs input#tab-4 {
  top: 120px;
}
/*TEST*/
.tabs input#tab-5 {
  top: 160px;
}
.tabs input#tab-6 {
  top: 200px;
}
.tabs input#tab-7 {
  top: 240px;
}
.tabs input#tab-8 {
  top: 280px;
}
.tabs input#tab-9 {
  top: 320px;
}
.tabs input#tab-10 {
  top: 360px;
}
.tabs label {
  background: #5ba4a4;
  background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ba4a4), color-stop(100%, #4e8c8a));
  background: -webkit-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: -o-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: -ms-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  font-size: .55em;
  line-height: 40px;
  height: 40px;
  position: relative;
  padding: 0 15px;
  display: block;
  width: 266px;
  color: #385c5b;
  float: left;
  clear: both;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 3px 0 0 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.tabs label:after {
  content: '';
  background: #fff;
  position: absolute;
  right: -2px;
  top: 0;
  width: 2px;
  height: 100%;
}
.tabs input:hover + label {
  background: #5ba4a4;
}
.tabs label:first-of-type {
  z-index: 10;
}
.tab-label-2 {
  z-index: 9;
}
.tab-label-3 {
  z-index: 8;
}
.tab-label-4 {
  z-index: 7;
}
.tab-label-5 {
  z-index: 6;
}
.tab-label-6 {
  z-index: 5;
}
.tab-label-7 {
  z-index: 4;
}
.tab-label-8 {
  z-index: 3;
}
.tab-label-9 {
  z-index: 2;
}
.tab-label-10 {
  z-index: 1;
}
.tabs input:checked + label {
  background: #fff;
  z-index: 12;
}
.clear-shadow {
  clear: both;
}
.content {
  background: #fff;
  position: relative;
  width: auto;
  margin: -400px 0 0 120px;
  height: 780px;
  z-index: 5;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow-y: auto;
}
.content div {
  position: absolute;
  top: 0;
  padding: 10px 40px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.content div {
  -webkit-transform: translateY(-450px);
  -moz-transform: translateY(-450px);
  -o-transform: translateY(-450px);
  -ms-transform: translateY(-450px);
  transform: translateY(-450px);
}
.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4,
.tabs input.tab-selector-5:checked ~ .content .content-5,
.tabs input.tab-selector-6:checked ~ .content .content-6,
.tabs input.tab-selector-7:checked ~ .content .content-7,
.tabs input.tab-selector-8:checked ~ .content .content-8,
.tabs input.tab-selector-9:checked ~ .content .content-9,
.tabs input.tab-selector-10:checked ~ .content .content-10 {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  z-index: 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all ease-out 0.3s 0.3s;
  -moz-transition: all ease-out 0.3s 0.3s;
  -o-transition: all ease-out 0.3s 0.3s;
  -ms-transition: all ease-out 0.3s 0.3s;
  transition: all ease-out 0.3s 0.3s;
}
.content div h2,
.content div h3 {
  color: #398080;
}
.content div p {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin: 0;
  color: #777;
  padding-left: 15px;
  border-left: 8px solid rgba(63, 148, 148, 0.1);
}
/*less styles*/
section.tabs .content h3 {
  font-size: .8em;
  padding-bottom: 10px;
}
section.tabs .content p {
  padding-bottom: 10px;
}
section.tabs .content h3 {
  padding-bottom: 20px;
}
section.tabs .content h4 {
  font-size: .5em;
  padding: 10px;
}
section.tabs .content ul li {
  display: list-item;
}
section.tabs .content ul li p {
  padding-bottom: 0;
}
strong {
  font-weight: bold;
}
.content .content-5 ul,
.content .content-9 ul,
.content .content-10 ul {
  padding: 20px 0 20px 35px;
}
.content .content-5 ul li,
.content .content-9 ul li,
.content .content-10 ul li {
  list-style: circle;
  font-size: 14px;
  line-height: 25px;
  padding-bottom: 10px;
}
/*-------FOOTER-------*/
footer#footer {
  background-color: #7c807f;
  overflow: hidden;
}
footer#footer .emailSignUp {
  float: left;
  width: 100%;
  background-color: #505353;
}
footer#footer .emailSignUp p {
  font-family: 'din_30640_stdneuzeitgroteskLt', 'PT Sans', Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-transform: none;
  float: left;
  font-size: .8em;
  padding: 15px 15px 15px 21%;
}
footer#footer .emailSignUp form {
  font-family: 'din_30640_stdneuzeitgroteskLt', 'PT Sans', Helvetica, Arial, sans-serif;
  float: left;
  padding: 7px;
}
footer#footer .emailSignUp form label {
  width: 100%;
}
footer#footer .emailSignUp form label input[type="text"] {
  height: 38px;
  margin-top: -5px;
  width: 200px;
  font-size: 12px;
  text-transform: lowercase;
  border: none;
  padding-left: 10px;
  color: #505353;
}
footer#footer .emailSignUp form input[type="submit"] {
  width: 100px;
  height: 40px;
  margin-left: -10px;
  background-color: #b60050;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}
footer#footer .containText ul.column {
  color: #ffffff;
  text-align: center;
  line-height: 1.5em;
  font-size: .625em;
  padding: 30px 14% 50px 0;
  float: left;
  display: inline-block;
}
footer#footer .containText ul.column:last-of-type {
  padding-right: 0;
}
footer#footer .containText ul.column li {
  display: block;
}
footer#footer .containText ul.column li a {
  color: #ffffff;
}
