@font-face {
  font-family: 'chunkfiveroman';
  src: url('../../fonts/chunkfive-webfont.eot');
  src: url('../../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/chunkfive-webfont.woff') format('woff'), url('../../fonts/chunkfive-webfont.ttf') format('truetype'), url('../../fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'din_30640_stdneuzeitgroteskLt';
  src: url('../../fonts/dinneuzeitgroteskstd-light-webfont.eot');
  src: url('../../fonts/dinneuzeitgroteskstd-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/dinneuzeitgroteskstd-light-webfont.woff') format('woff'), url('../../fonts/dinneuzeitgroteskstd-light-webfont.ttf') format('truetype'), url('../../fonts/dinneuzeitgroteskstd-light-webfont.svg#din_30640_stdneuzeitgroteskLt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'league_gothicregular';
  src: url('../../fonts/league_gothic-webfont.eot');
  src: url('../../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/league_gothic-webfont.woff') format('woff'), url('../../fonts/league_gothic-webfont.ttf') format('truetype'), url('../../fonts/league_gothic-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  margin: 0;
  padding: 0;
  color: #b60050;
  text-decoration: none;
}
a:hover {
  /* background-color: @pink;*/
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
p {
  font-family: 'din_30640_stdneuzeitgroteskLt', 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-align: left;
  line-height: 1.2em;
}
h1,
h2,
h3 {
  font-family: 'chunkfiveroman', 'Arvo', Georgia, Times, serif;
  line-height: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 0.9em;
  color: #505353;
}
h4 {
  font-family: 'din_30640_stdneuzeitgroteskLt', 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: .750em;
  text-transform: uppercase;
  font-weight: bold;
}
li {
  display: inline-block;
}
/*GLOBAL STYLES -----------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #ffffff;
  font-family: 'din_30640_stdneuzeitgroteskLt', 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #b3b3b3;
  -webkit-font-smoothing: antialiased;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.innerContainer {
  margin: 0 auto;
  max-width: 65%;
}
.largeInnerContainer {
  margin: 0 auto;
  max-width: 85%;
}
.parallelogram {
  height: auto;
  -webkit-transform: skew(5deg);
  -moz-transform: skew(5deg);
  -o-transform: skew(5deg);
  background: rgba(0, 141, 179, 0.73);
}
.parallelogram p {
  -webkit-transform: skew(-5deg);
  color: #fff;
  text-transform: none;
  padding: 5px 19px 5px 27px;
}
/*--- Section Title headings ----*/
.titles {
  width: 100%;
}
.titles h1 {
  float: left;
  display: inline-block;
  width: 33%;
  margin: 0 1.815%;
  margin: 0;
  padding: 29px 0 24px;
  min-height: 89px;
}
.titles p {
  float: left;
  display: inline-block;
  width: 67%;
  margin: 0 3.685%;
  padding: 10px 10% 10px 20px;
  text-transform: none;
  margin: 0;
  font-size: 0.8em;
  min-height: 89px;
}
.containText {
  width: 82%;
  margin: 0 auto;
  overflow: hidden;
}
/*HEADER -----------------------------------------------*/
header#header {
  background: #505353;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
header#header nav#topNav img {
  padding: 10px;
  background-color: #ffffff;
  margin: 10px 10px 5px 18px;
  float: left;
}
header#header nav#topNav ul.social {
  padding: 0;
  display: inline;
  float: right;
  margin: 12px 2% 0;
}
header#header nav#topNav ul.social li {
  display: inline;
  width: 40px;
  height: 40px;
}
header#header nav#topNav ul.social li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  text-indent: -9999px;
}
header#header nav#topNav ul.social li a.facebook {
  background: url(../../images/wwccSocialSprites.png) 0 0px no-repeat;
}
header#header nav#topNav ul.social li a.facebook:hover {
  background: url(../../images/wwccSocialSprites.png) 0 -40px no-repeat;
}
header#header nav#topNav ul.social li a.youtube {
  background: url(../../images/wwccSocialSprites.png) -40px 0px no-repeat;
}
header#header nav#topNav ul.social li a.youtube:hover {
  background: url(../../images/wwccSocialSprites.png) -40px -40px no-repeat;
}
header#header nav#topNav ul.social li a.linkedin {
  background: url(../../images/wwccSocialSprites.png) -80px 0px no-repeat;
}
header#header nav#topNav ul.social li a.linkedin:hover {
  background: url(../../images/wwccSocialSprites.png) -80px -40px no-repeat;
}
header#header nav#topNav ul.social li a.twitter {
  background: url(../../images/wwccSocialSprites.png) -120px 0px no-repeat;
}
header#header nav#topNav ul.social li a.twitter:hover {
  background: url(../../images/wwccSocialSprites.png) -120px -40px no-repeat;
}
header#header nav#mainNav {
  background: #7c807f;
  height: 50px;
  clear: both;
}
header#header nav#mainNav ul.navigation {
  margin-left: 18px;
  float: left;
}
header#header nav#mainNav li {
  padding: 17px 31px 18px 0;
}
header#header nav#mainNav li a {
  color: #ffffff;
  padding: 12px 7px;
}
header#header nav#mainNav li a:hover {
  background-color: #b60050;
}
header#header nav#mainNav #btn {
  float: right;
  margin: 17px 3% 0 0;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}
header#header nav#mainNav #btn a {
  color: #ffffff;
}
header#header nav#mainNav #btn a:hover.volunteer {
  background-color: #9a0546;
}
header#header nav#mainNav #btn a:hover.donate {
  background-color: #047796;
}
header#header nav#mainNav #btn .volunteer {
  background-color: #b60050;
  padding: 10px 8px;
  border-radius: 8px;
  margin-right: 10px;
}
header#header nav#mainNav #btn .donate {
  background-color: #008db3;
  padding: 10px 20px;
  border-radius: 8px;
}
/*<-----header --*/
.divider {
  height: 5px;
  background-color: #b60050;
}
.divider2 {
  height: 15px;
  background-color: #b60050;
}
/*-------HERO-------*/
section#hero {
  background: url(../../images/hero.jpg);
  background-position: center bottom;
  width: 74%;
  margin: 0 auto;
  padding: 173px 0 0 33px;
  min-height: 350px;
}
.parallelogram {
  width: 407px;
}
.parallelogram p {
  font-size: 0.8em;
}
/*-------ICON NAV SECTION----------------------*/
section#iconNav {
  min-height: 295px;
  background: #ffffff;
}
section#iconNav ul.icon-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
section#iconNav ul.icon-grid li {
  width: 168px;
  height: 168px;
  display: inline-block;
  margin: 15px 100px;
}
section#iconNav ul.icon-grid li .icon-img-1 {
  background-image: url(../../images/what-icon.png);
}
section#iconNav ul.icon-grid li .icon-img-2 {
  background-image: url(../../images/why-icon.png);
}
section#iconNav ul.icon-grid li .icon-img-3 {
  background-image: url(../../images/how-icon.png);
}
section#iconNav ul.icon-grid li .icon-item:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
section#iconNav ul.icon-grid li h3 {
  margin-top: 25px;
}
section#iconNav ul.icon-grid li h3 a {
  color: #505353;
}
section#iconNav ul.icon-grid li h3 a:hover {
  color: #b60050;
}
.icon-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icon-info {
  position: absolute;
  background: #b70050;
  background-image: url(../../images/qmark.png);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
}
.icon-info p {
  color: #fff;
  padding-top: 70px;
  text-align: center;
  margin: 0 0;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 0.4s;
  -moz-transition: all 1s ease-in-out 0.4s;
  -o-transition: all 1s ease-in-out 0.4s;
  -ms-transition: all 1s ease-in-out 0.4s;
  transition: all 1s ease-in-out 0.4s;
}
.icon-info p a {
  display: block;
  color: #fff;
  font-size: 2.2em;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', Arial, sans-serif;
}
.icon-info p a:hover {
  color: #505353;
}
.icon-item:hover .icon-info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.icon-item:hover .icon-info p {
  opacity: 1;
}
/*-------WHAT SECTION-------*/
section#what {
  width: 100%;
  min-height: 755px;
  background: url(../../images/pattern.png);
  margin: 0;
  padding: 0;
}
section#what h1 {
  background: #505353;
  color: #fff;
}
section#what p.main {
  background: #b60050;
  color: #ffffff;
}
.languages {
  margin-top: 25px;
  float: left;
}
.languages .boxWhat {
  width: 206px;
}
.languages p {
  padding: 5px 19px 5px 27px;
  font-size: 1.1em;
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
}
.languages img {
  margin: -10px 0 0 75px;
}
.locations {
  margin-top: 25px;
  float: right;
}
.locations .boxWhatTwo {
  width: 231px;
}
.locations p {
  padding: 5px 19px 5px 27px;
  font-size: 1.1em;
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
}
.locations img {
  margin-bottom: -10px;
}
.peoplegraph {
  clear: both;
  text-align: center;
  padding-top: 25px;
}
/*-------WHY SECTION-------*/
section#why {
  width: 100%;
  min-height: 1430px;
  background-color: #505353;
  margin: 0;
  padding: 0;
}
section#why h1 {
  background: #b60050;
  color: #fff;
}
section#why p.main {
  background: #ffffff;
  color: #505353;
}
.world {
  background: url(../../images/worldmap.png) no-repeat;
  background-position: 50% 186px;
  background-size: 100%;
  min-height: 1340px;
}
.world .boxWhy {
  width: 450px;
  float: left;
  margin: 25px 0 0 20%;
}
.world .boxWhy .percent {
  font-family: "Georgia Italic", Georgia, serif;
  font-size: 3.3em;
  float: left;
  display: inline-block;
  width: 30%;
  margin: 0 1.65%;
  color: #636363;
}
.world .boxWhy p {
  float: right;
  font-size: 1.1em;
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
  float: left;
  display: inline-block;
  width: 60%;
  margin: 0 3.3%;
  padding: 12px 0 12px 10px;
}
.world .toronto {
  float: right;
  margin: 5% 20% 0 0;
}
.world .toronto img {
  z-index: 1000;
  display: block;
  height: auto;
}
.world .toronto .boxWhyTwo {
  width: 270px;
  margin: -310px 0 0 -145px;
}
.world .toronto .boxWhyTwo p {
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
  font-size: 1.1em;
}
.world .womenPink {
  width: 380px;
  float: left;
  margin: 27% 0 0 10%;
}
.world .womenPink img {
  float: left;
  margin-right: 10px;
}
.world .womenPink p {
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
  font-size: 1.2em;
  color: #ffffff;
}
.world .boxWhyThree {
  clear: both;
  margin: 0 auto;
  width: 600px;
  height: auto;
}
.world .boxWhyThree p {
  font-family: 'league_gothicregular', 'Open Sans Condensed', 'Arial Narrow', Helvetica, sans-serif;
  font-size: 1.4em;
}
/*PieGraphs-----------------------*/
section#graphs {
  min-height: 340px;
  background: url(../../images/pattern.png);
}
/*-------HOW SECTION-------*/
section#how {
  width: 100%;
  min-height: 920px;
  background: url(../../images/pattern.png);
  margin: 0;
  padding: 0;
}
section#how h1 {
  background: #7c807f;
  color: #ffffff;
}
section#how p {
  color: #ffffff;
  background-color: #505353;
}
section#years {
  min-height: 315px;
  background-color: #008db3;
}
section#cta {
  min-height: 270px;
  background: url(../../images/pattern.png);
}
/*-------FOOTER-------*/
footer#footer {
  background-color: #7c807f;
  overflow: hidden;
}
footer#footer .emailSignUp {
  float: left;
  width: 100%;
  background-color: #505353;
}
footer#footer .emailSignUp p {
  font-family: 'din_30640_stdneuzeitgroteskLt', 'PT Sans', Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-transform: none;
  float: left;
  font-size: .8em;
  padding: 15px 15px 15px 21%;
}
footer#footer .emailSignUp form {
  font-family: 'din_30640_stdneuzeitgroteskLt', 'PT Sans', Helvetica, Arial, sans-serif;
  float: left;
  padding: 7px;
}
footer#footer .emailSignUp form label {
  width: 100%;
}
footer#footer .emailSignUp form label input[type="text"] {
  height: 38px;
  margin-top: -5px;
  width: 200px;
  font-size: 12px;
  text-transform: lowercase;
  border: none;
  padding-left: 10px;
  color: #505353;
}
footer#footer .emailSignUp form input[type="submit"] {
  width: 100px;
  height: 40px;
  margin-left: -10px;
  background-color: #b60050;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}
footer#footer .containText ul.column {
  color: #ffffff;
  text-align: center;
  line-height: 1.5em;
  font-size: .625em;
  padding: 30px 14% 50px 0;
  float: left;
  display: inline-block;
}
footer#footer .containText ul.column:last-of-type {
  padding-right: 0;
}
footer#footer .containText ul.column li {
  display: block;
}
footer#footer .containText ul.column li a {
  color: #ffffff;
}
