 @import 'includes/brand.less';
@import 'includes/typography.less';
@import 'includes/mixins.less';

/*GLOBAL STYLES -----------------------*/

* {
  .box-sizing;
}

body {
  background:@white;
  font-family: @bodyfont;
  font-size: 1.5em;
  color: @lightgrey;
   -webkit-font-smoothing: antialiased;

}
.container {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
   transition:all .5s ease-in-out; 
    -o-transition:all .5s ease-in-out; 
    -moz-transition:all .5s ease-in-out; 
    -webkit-transition:all .5s ease-in-out;
}
.innerContainer {
  margin: 0 auto;
  max-width:65%;
}
.largeInnerContainer {
  margin: 0 auto;
  max-width:88%;
}

.parallelogram {
  height: auto;
  -webkit-transform: skew(5deg);
  -moz-transform: skew(5deg);
  -o-transform: skew(5deg);
  background: rgba(0, 141, 179, 0.73);
  p{
    -webkit-transform: skew(-5deg);
    color: #fff;
    text-transform: none;
    padding:5px 19px 5px 27px;
  }
}


/*--- Section Title headings ----*/
.titles{
  width:100%;
  h1{
     .widthfloat(33%);
    margin:0;
    padding: 29px 0 24px;
    min-height: 89px;
  }
  p {
     .widthfloat(67%);
    padding: 10px 10% 10px 20px;
    text-transform: none;
    margin:0;
    font-size: 0.8em;
    min-height: 89px;
  }
}
.containText{
  width:82%;
  margin:0 auto;
  overflow: hidden;
}

/*HEADER -----------------------------------------------*/
header#header{
    background:@headergrey;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  nav#topNav {
   
    img {
      padding:10px;
      background-color: @white;
      margin:10px 10px 5px 18px;
      float:left;
    }
    ul.social {
        padding: 0;
        display: inline;
        float:right;
        margin: 12px 2% 0;
        li{
          display:inline;
          width:40px;
          height:40px;
          a{
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 16px;
            text-indent: -9999px;
          }
          a.facebook{
            background: url(../../images/wwccSocialSprites.png) 0 0px no-repeat;
          }
          a.facebook:hover{
            background: url(../../images/wwccSocialSprites.png) 0 -40px no-repeat;
          }
          a.youtube{
            background: url(../../images/wwccSocialSprites.png) -40px 0px no-repeat;
          }
          a.youtube:hover{
            background: url(../../images/wwccSocialSprites.png) -40px -40px no-repeat;
          }
          a.linkedin{
            background: url(../../images/wwccSocialSprites.png) -80px 0px no-repeat;
          }
          a.linkedin:hover{
            background: url(../../images/wwccSocialSprites.png) -80px -40px no-repeat;
          }
          a.twitter{
            background: url(../../images/wwccSocialSprites.png) -120px 0px no-repeat;
          }
          a.twitter:hover{
            background: url(../../images/wwccSocialSprites.png) -120px -40px no-repeat;
        }
      }
    }
  }
  nav#mainNav {
    background:@headerlightgrey;
    height:50px;
    clear:both;
    ul.navigation{
      margin-left: 18px;
      float:left;
    }
    li {
      padding:17px 31px 18px 0;
      a {
      color:@white;
      padding:12px 7px;
      }
      a:hover {
        background-color: @pink;
      }
    }
    #btn{
      float:right;
      margin:17px 3% 0 0;
      -webkit-transition: 0.25s linear;
      transition: 0.25s linear;
      a{
        color:@white;
      }
      a:hover.volunteer{
        background-color: #9a0546;
      }
      a:hover.donate{
        background-color: #047796;
      }
     .volunteer{
        background-color: @pink;
        padding:10px 8px;
        border-radius: 8px;
        margin-right: 10px;
      }
     .donate{
        background-color: @blue;
        padding:10px 20px;
        border-radius: 8px;
      }
    }
  }
} /*<-----header --*/

.divider{
  height:5px;
  background-color:@pink;
}

.divider2{
  height:15px;
  background-color:@pink;
}
/*-------HERO-------*/
section#hero {
  background: url(../../images/hero.jpg);
  background-position: center bottom;
  width:74%;
  margin:0 auto;
  padding:173px 0 0 33px;
  min-height: 350px;
}
.parallelogram {
  width: 407px;
  p{
    font-size: 0.8em;
  }
}

/*-------ICON NAV SECTION----------------------*/
section#iconNav {
  min-height:295px;
  background:@white;
  ul.icon-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
    li {
      width: 168px;
      height: 168px;
      display: inline-block;
      margin: 15px 100px;
      .icon-img-1 { 
        background-image: url(../../images/what-icon.png);
      }
      .icon-img-2 { 
        background-image: url(../../images/why-icon.png);
      }
      .icon-img-3 { 
        background-image: url(../../images/how-icon.png);
      }
      .icon-item:hover {
        box-shadow: 
          inset 0 0 0 1px rgba(255,255,255,0.1),
          0 1px 2px rgba(0,0,0,0.1);
      }
      h3 {
        margin-top: 25px;
        a{
          color:@headergrey;
        }
        a:hover {
          color:@pink;
        }
      }
    }
  }

}
.icon-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: 
    inset 0 0 0 9px rgba(255,255,255,0.7),
    0 1px 2px rgba(0,0,0,0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.icon-info {
  position: absolute;
  background: #b70050;
    background-image: url(../../images/qmark.png);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  p {
    color: #fff;
    padding-top: 70px;
    text-align: center;
    margin: 0 0;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out 0.4s;
    -moz-transition: all 1s ease-in-out 0.4s;
    -o-transition: all 1s ease-in-out 0.4s;
    -ms-transition: all 1s ease-in-out 0.4s;
    transition: all 1s ease-in-out 0.4s;
    a {
      display: block;
      color: #fff;
      font-size: 2.2em;
      color: rgba(255,255,255,0.9);
      text-transform: uppercase;
      text-decoration: none;
      font-family: 'Open Sans', Arial, sans-serif;
    }
    a:hover {
      color: @headergrey;
    }
  }
}
.icon-item:hover .icon-info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.icon-item:hover .icon-info p {
  opacity: 1;
}


/*-------WHAT SECTION-------*/
section#what {
  width:100%;
  min-height:755px;
  background: url(../../images/pattern.png);
  margin:0;
  padding:0;
  h1{
    background:@headergrey;
    color:#fff;
  }
  p.main{
    background:@pink;
    color:@white;
  }
}

.languages {
  margin-top: 25px;
  float: left;
  .boxWhat{
    width: 206px;
  }
  p{
    padding:5px 19px 5px 27px;
    font-size: 1.1em;
    font-family: @fontgothic;
  }
  img {
    margin: -10px 0 0 75px;
  }
}
.locations {
  margin-top: 25px;
   float: right;
  .boxWhatTwo{
    width: 231px;
  }
  p{
    padding:5px 19px 5px 27px;
    font-size: 1.1em;
    font-family: @fontgothic;
  }
  img {
    margin-bottom: -10px;
  }
}
.peoplegraph{
  clear:both;
  text-align: center;
  padding-top: 25px;
}


/*-------WHY SECTION-------*/
section#why {
  width:100%;
  min-height:1278px;
  background-color: @worldgrey;
  margin:0;
  padding:0;
  p{
    font-family: @fontgothic;
  }
  h1{
    background:@pink;
    color:#fff;
  }
  p.main {
    background:@white;
    color:@worldgrey;
    font-family:@bodyfont;
  }
.world {
  background: url(../../images/worldmap.png)no-repeat;
  background-position: 50% 186px;
  background-size: 100%;
  min-height:800px;
  .boxWhy{
    width:450px;
    float:left;
    margin: 25px 0 0 20%;
    .percent {
      font-family:"Georgia Italic",Georgia, serif;
      font-size: 3.3em;
      .widthfloat(30%);
      color:@worldgrey;
    }
    p{
      float:right;
      font-size: 1.1em;
      .widthfloat(60%);
      padding: 12px 0 12px 10px;
    }
  }
  .toronto{
    float:right;
    margin:3% 13% 0 0;
    img{
      z-index: 1000;
      display:block;
      height:auto;
     }
    .boxWhyTwo{
      width:270px;
      margin: -310px 0 0 -145px;
     p{
       font-size: 1.1em;
      } 
    }
  }
  .womenPink{
    width:380px;
    float:left;
    margin:27% 0 0 10%;
    img{
      float:left;
      margin-right:10px;
    }
    p{
      font-size:1.2em;
      color:@white;
    }
  }
  .boxWhyThree{
    clear:both;
    margin:0 auto;
    width:600px;
    height:auto;
    p{ 
      font-size:1.4em;
      }
    }
  }
  .skyline{
    position: relative;
    background: rgba(64,64,63,1);
    background: rgba(64,64,63,1);
    background: -moz-linear-gradient(top, rgba(64,64,63,1) 0%, rgba(64,64,63,1) 45%, rgba(140,139,139,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,64,63,1)), color-stop(45%, rgba(64,64,63,1)), color-stop(100%, rgba(140,139,139,1)));
    background: -webkit-linear-gradient(top, rgba(64,64,63,1) 0%, rgba(64,64,63,1) 45%, rgba(140,139,139,1) 100%);
    background: -o-linear-gradient(top, rgba(64,64,63,1) 0%, rgba(64,64,63,1) 45%, rgba(140,139,139,1) 100%);
    background: -ms-linear-gradient(top, rgba(64,64,63,1) 0%, rgba(64,64,63,1) 45%, rgba(140,139,139,1) 100%);
    background: linear-gradient(to bottom, rgba(64,64,63,1) 0%, rgba(64,64,63,1) 45%, rgba(140,139,139,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40403f', endColorstr='#8c8b8b', GradientType=0 );
    min-height: 400px;
    .city{
      position:absolute;
      width:100%;
      bottom:0;
      padding:0;
      margin-bottom: -2px;
    }
    .barriers{
      margin-top: 55px;
      .pinkline{
        height:30px;
        background: @pink;
      }
      .blackline{
        height:30px;
        background: @darkestgrey;
      }
      background:@white;
      ul{
         display: inline-block;
         text-align: center;
        li{
          clear:both;
          width:19%;
          vertical-align: top;
          margin-top:-80px;
          padding:10px 5px 20px;
          p{
            text-align: center;
            color: @darkestgrey;
          }
        }
      }
    }
  }
  .settle{
    background-color: @darkestgrey;
      p{
        color: @white;
        text-align: center;
        font-size: 1.5em;
      }
      .more{
        font-size:2.2em;
        padding-bottom: 15px;
      }
    }
}

/*PieGraphs-----------------------*/
section#graphs{
  min-height:340px;
  background: url(../../images/pattern.png);
  font-family: @fontgothic;
  padding-top: 47px;
  .circleGraphLeft{
    float: left;
    text-transform: uppercase;
    max-width: 400px;
    min-height:240px;
    ul{
      float:left;
      li{
        display:block;
        padding-top:45px;
        font-size: 1.2em;
      }
      li.TO{
        color:@blue;
      }
      li.ML{
        color:@lightgrey;
      }
      li.VN{
        color:@pink;
      }
    }
    .circleGraph{
      float:right;
    }
  }
  .circleGraphRight{
    float:right;
    min-height:240px;
    max-width:800px;
    .pieChart{
      float:left;
    }
    .stackedText{
      margin-left: 10px;
      font-size: 1.35em;
      font-family: @fontgothic;
      float:right;
      width:115px;
      line-height: 30px;
      color:@headergrey;
      .uppercase{
        text-transform: uppercase;
      }
      .number{
        font-size: 2.9em;
        line-height: 80px;
      }
      .canadas{
        padding-left: 7px;

      }
      .pop{
        font-size: 1.05em;
      }
      .by{
        font-size: 40px;
        vertical-align: top;
        padding-right: 5px;
      }
      .year{
        font-size: 67px;
        line-height: 50px;
      }
    }
  }
}

/*------------ HOW SECTION -------------*/
section#how {
  width:100%;
  min-height:920px;
  background: url(../../images/pattern.png);
  margin:0;
  padding:0;
  h1{
    background:@headerlightgrey;
    color:@white;
  }
  p.main {
    color:@white;
    background-color:@headergrey;
  }
  .greyline{
    width:100%;
    clear:both;
    background:rgba(89,91,91, 0.09);
    height:15px;
    margin:15px 0;
    float: left;
  }
  .howtop{
    margin-top: 90px;
  }
  .howbottom{
     margin-bottom: 75px;
  }
  .heart{
     width:100%; 
     background:rgba(89,91,91, 0.05);
     max-height:190px;
     float: left;

    .heartText{
      .widthfloat(30%);
      p{
        font-family: @fontgothic;
        color:@headergrey;
        font-size: 1.2em;
        margin:10px;
      }
    }
    img{
     .widthfloat(30%);
     margin-top:-5%;
     max-width:350px;
     height:auto;
    }
  }
  .helped{
    .support{
    text-align: center;
    font-size: 1.2em;
    color:@headergrey;
    padding-top: 50px;
    text-transform: uppercase;
    }
    ul{
      text-align: center;
      color: @headergrey;
      font-size: 0.9em;
      margin-top: 35px;
      li{
        .widthfloat(30%);
        img{
          height:130px;
          width:auto;
        }
        .facts{
          margin-bottom: 15px;
          height:90px;
         }
        p{
          text-align: center;
          .btn{
          background:@headergrey;
          border-radius: 8px;
          text-transform: uppercase;
          padding:7px 9px;
          width:140px;
          font-size: 0.8em;
          color:@white;
          }
          .btn:hover{
            background:@pink;
            color:@darkestgrey;
          }
        } 
      }
    }
  }
}


/*------------ 35 YEARS SECTION -------------*/
section#years{
  overflow: hidden;
  min-height:315px;
  background-color:@white;
  background-image:url(../../images/35.png);
  background-position: center;
  background-repeat: no-repeat;
  h3{
    text-align: center;
    font-size: 1.5em;
    margin: 70px 0 30px;
    color:@headerlightgrey;
  }
  .yearsHeader{
    color:@darkestgrey;
  }
  p{
    color:@headergrey;
    font-size: 0.8em;
    max-width: 55%;
    margin: 0 auto;
  }
}

/*------------ CTA'S -------------*/
section#cta{
  padding: 50px 0;
  background: url(../../images/pattern.png);
   .involved{
      margin: 0 auto;   
      overflow:hidden;
      -webkit-transition: 0.25s linear;
      transition: 0.25s linear;
      text-transform: uppercase;
      font-size: 0.8em;
      img{
        float:left;
      }
      .ctaLeft{
        float:left;
        margin-right:7%;
      }
      .ctaRight{
        float: left;
      }
      a{
        color:@white;
      }
      a:hover.volunteer{
        &:hover{
          background-color: #9a0546;
        }
      }
    
     .volunteer{
        float:left;
        background-color: @pink;
        padding:10px 8px;
        border-radius: 8px;
        margin:30px 0 0 10px;
      }
     .donate{
        float:left;
        background-color: @blue;
        padding:10px 20px;
        border-radius: 8px;
        margin:30px 0 0 10px;
        &:hover{
          background-color: #047796;
        }
      }
    }
}


/*-------FOOTER-------*/
footer#footer{
  background-color:@headerlightgrey;
  overflow: hidden;

  .emailSignUp{
    float:left;
    width:100%;
    background-color: @headergrey;
    p{
      font-family: @bodyfont;
      color:@white;
      text-transform: none;
      float:left;
      font-size: .8em;
      padding: 15px 15px 15px 21%
    }
    form{
        font-family: @bodyfont;
        float:left;
        padding:7px;
        label{
          width:100%;
          input[type="text"]{
            height:38px;
            margin-top: -5px;
            width:200px;
            font-size: 12px;
            text-transform: lowercase;
            border:none;
            padding-left: 10px;
            color:@headergrey;
          }
        }
        input[type="submit"]{
          width:100px;
          height:40px;
          margin-left:-10px;
          background-color: @pink;
          border:none;
          color:@white;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 1px;
        }    
    }
}

.containText{
      ul.column{
        color:@white;
        text-align: center;
        line-height: 1.5em;
        font-size: .625em;
        padding: 30px 14% 50px 0;
        float:left;
        display:inline-block;
         &:last-of-type{
          padding-right:0;
          }
        li{
          display: block;
          a{
            color:@white;
         }
        }
      }
    }
   }











